@model List<Model.EF.Content>
<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">@Model.Count().ToString()</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Bạn có @Model.Count().ToString() tin nhắn</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              
    @foreach (var item in Model)
    {
                <li>
                    <a href="#" class="btn-topMessage"  data-id="@item.ContentID">
                        <i class="fa fa-users text-aqua"></i> @item.Name.ToString()
                    </a>
                </li>
    }
                   
             
            </ul>
        </li>
        <li class="footer"><a href="~/Mesage/MeseageFull">Xem thêm</a></li>
    </ul>
</li>
